.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.email {
    color: var(--blue);
    margin-bottom: calc(30 / 1440 * 100vw);
    margin-top: calc(-30 / 1440 * 100vw);
    font-weight: bold;
    font-size: calc(16 / 1440 * 100vw);
}