.container {
    padding: calc(10 / 1440 * 100vw) calc(18 / 1440 * 100vw);
    display: flex;
    align-items: center;
}

.totalCountCard {
    display: flex;
    align-items: center;
    gap: calc(10 / 1440 * 100vw);
    font-weight: bold;
}

.totalCountNumber {
    font-weight: normal;
    font-size: calc(14 / 1440 * 100vw);
    color: var(--description);
}

.select {
    width: 100%;
    height: 100%;
    font-size: calc(11 / 1440 * 100vw);
    color: var(--description);
}

.rightGroup {
    margin-left: auto;
    gap: calc(30 / 1440 * 100vw);
    display: flex;
    align-items: center;
}

.dateCardGroup {
    display: flex;
    align-items: center;
    gap: calc(5 / 1440 * 100vw);
    color: var(--description);
}

.form {
    display: flex;
    align-items: center;
    gap: calc(10 / 1440 * 100vw);
}

.formSeparator {
    width: calc(1 / 1440 * 100vw);
    height: calc(10 / 1440 * 100vw);
    background: var(--description);
}

.formSearchButton {
    content: '';
    width: calc(22 / 1440 * 100vw);
    height: calc(22 / 1440 * 100vw);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--allTransition);
    font-size: calc(12 / 1440 * 100vw);
}

.formSearchButton:disabled{
    cursor: not-allowed;
}

.formSearchButton:not(:disabled):hover {
    background: var(--paneHover);

}

.dateCardGroup button{
    font-size: calc(10 / 1440 * 100vw);
    font-weight: normal;
    color: var(--description);
    width: 100%;
    height: 100%;
}
