.textarea {
  width: 100%;
  outline: none;
  background-color: transparent;
  resize: none;
  border: none;
  font-family: inherit;
  padding: calc(8 / 1440 * 100vw) 0;
  overflow-y: hidden;
}

.h1 {
  font-size: calc(36 / 1440 * 100vw);
  font-weight: bold;
  line-height: calc(1.2 * 36 / 1440 * 100vw);
}

.h2 {
  font-size: calc(1.25 * 30 / 1440 * 100vw);
  font-weight: bold;
}

.h3 {
  font-size: calc(24 / 1440 * 100vw);
  font-weight: 600;
  line-height: calc(1.3 * 24 / 1440 * 100vw);
}


.textarea::placeholder {
  color: #9ca3af;
  opacity: 0.8;
}

.h1::placeholder {
  font-size: calc(36 / 1440 * 100vw);
}

.h2::placeholder {
  font-size: calc(1.25 * 30 / 1440 * 100vw);
}

.h3::placeholder {
  font-size: calc(24 / 1440 * 100vw);
}