.metricsDescription {
    margin: calc(20 / 1440 * 100vw) 0;
    display: flex;
    align-items: center;
    gap: calc(10 / 1440 * 100vw);
    font-size: calc(12 / 1440 * 100vw);
    color: var(--description);
}

.metricsDescription span {
    font-weight: bold;
}

.buttonContainer{
    margin-left: auto;
    width: calc(150 / 1440 * 100vw);
}